<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>https://joezheng.github.io/yiqee/yiqee2.ipa</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>https://ss0.bdstatic.com/-0U0bnSm1A5BphGlnYG/tam-ogel/81fea786c93b47ea38c7084ab29b2553_121_121.jpg</string>
               </dict>
      <dict>
                   <key>kind</key>
                   <string>full-size-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>https://ss0.bdstatic.com/-0U0bnSm1A5BphGlnYG/tam-ogel/81fea786c93b47ea38c7084ab29b2553_121_121.jpg</string>
              </dict>
           </array>
           <key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>com.tencent.xin.SDKSample</string>
               <key>bundle-version</key>
               <string>1.0</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string></string>
               <key>title</key>
               <string>YIQEE测试版</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
